{% extends "s_base.html" %}

{% block cssFile %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='calendar.css') }}">
{% endblock %}

{% block title %}Calendar{% endblock %}
{% block pname %}CALENDAR{% endblock %}


{% block content %}
<div id="insert">
		<iframe src="https://calendar.google.com/calendar/embed?src=07js989maqpb9le0ussgcu6qq8%40group.calendar.google.com&ctz=America%2FToronto" style="border: 0" width="800" height="600" frameborder="0" scrolling="no" align="center"></iframe>
	</div><br>
{% endblock %}